.service-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #F3F1EC !important;
    width: 90%  !important;
}
  
  .service-image {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .service-details {
    margin-top: 10px;
  }
  
  .service-price {
    font-weight: bold;
  }
  
  .service-buttons {
    margin-top: 10px;
  }
  
  /* Custom modal styling */
  .modal-dialog {
    max-width: 600px;
  }
  
  .modal-body input[type="file"] {
    margin-top: 10px;
  }
  
  .modal-body img {
    max-width: 100%;
    margin-top: 10px;
  }