.video-container {
  width: 100%;
  /* max-width: 1500px; Adjust as needed */
  /* margin: 0 auto; Center the video container */
   /* height: 500px;  */
}
.home{
  background-color: hsl(0deg 0% 95.69%);
}
.video-background {
  width: 100%;
  height: 100%;
}
.card-img{
height: 500px;
}

.card-title{
    color: rgb(0 0 0);
    font-family: 'Quattrocento',Georgia,"Times New Roman",serif;
    line-height: 1.3em;
    font-size: 25px;
}
.card-text{
    color:#666;
    font-family: 'Quattrocento',Georgia,"Times New Roman",serif;
    line-height: 2.7em;
    font-size:17px;

}
.button {
    margin: 50px;
    font-size: 30px;
padding: 0.55em 1em;
}
.button arrow{
    border-width: 24px !important;
    border-color:#469da3 ;
}
.arrow {
  
letter-spacing: 4px;
    color:#f6f3ed;
     background-color: #469da3; 
    margin: 3em 0;

    &::after {
        display: inline-block;
        padding-left: 8px;
        content: "\0279E"; 
        -webkit-transition: transform 0.3s ease-out;
        -moz-transition: transform 0.3s ease-out;
        -ms-transition: transform 0.3s ease-out;
        -o-transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
    }

    &:hover {
        color: black;
        cursor: pointer;
        background-color:#F4F4F4 ;

        &::after {
            -webkit-transform: translateX(4px);
            -moz-transform: translateX(4px);
            -ms-transform: translateX(4px);
            -o-transform: translateX(4px);
            transform: translateX(4px);
        }
    }
}

#pacific{
 border-radius:  999px 999px 0 0;
}

.font-weight-bold{
    text-align: left;
    font-family:'Quattrocento',Georgia,"Times New Roman",serif ;
    font-size: 2 rem;
    font-weight: bolder;
}
.text-muted{
    text-align:left;
    color:#666;
    font-family: 'Quattrocento',Georgia,"Times New Roman",serif;
    line-height: 2.7em;
    font-size:20px;
}
.Link{
    text-align:right !important;
    color:#555454;
    font-family: "Crimson Pro", Sans-serif !important;
    line-height: 2.7em;
    font-size:17px;
    letter-spacing: 2px;
    font-weight: bold;

}

#with {
    float: left !important;
  font-family:  "Crimson Pro", Sans-serif !important;
  font-size: 22px;
    letter-spacing: 4px;
        color:#504f4f;
         background-color:#f4f4f4; 
        margin: 1em 0;
    
        &::after {
            display: inline-block;
            padding-left: 8px;
            content: "\0279E"; 
            -webkit-transition: transform 0.3s ease-out;
            -moz-transition: transform 0.3s ease-out;
            -ms-transition: transform 0.3s ease-out;
            -o-transition: transform 0.3s ease-out;
            transition: transform 0.3s ease-out;
        }
    
        &:hover {
            color: black;
            cursor: pointer;
            background-color:#F4F4F4 ;
    
            &::after {
                -webkit-transform: translateX(4px);
                -moz-transform: translateX(4px);
                -ms-transform: translateX(4px);
                -o-transform: translateX(4px);
                transform: translateX(4px);
            }
        }
    }