.video-container {
  width: 100%;
  /* max-width: 1500px; Adjust as needed */
  /* margin: 0 auto; Center the video container */
  /* height: 300px; */
}
.video-background {
  width: 100%;
  height: 100%;
}
