body {
    /* fallback for old browsers */
    background: #c9cecf;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgb(226, 231, 232), rgba(161, 233, 255, 0.5));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgb(234, 239, 240), rgba(161, 233, 255, 0.5));
}
